body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(298.63deg, rgba(255, 188, 15, 0.53) 43.16%, rgba(255, 255, 255, 0.4) 92.58%);
    color: #black
    filter: blur(150px);
    
}

.boxPrincipal {
    position: absolute;
    width: 593px;
    height: 201px;
    left: 257px;
    top: 150px;
}

#saludo {
    position: absolute;
    top: 0px;
    bottom: 401px;
    
    color: #444343;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;  
}

#nombre {
    position: absolute;
    top: -5px;
    bottom: 401px;

    color: #FCA522;
    font-weight: bold;
    font-size: 34px;
    line-height: 45px;

}

#profesion {
    position: absolute;
    top: 60px;
    bottom: 401px;

    color: #4F4D47;
    font-weight: 550;
    font-size: 24px;
    line-height: 36px;
}