.menu__link {
    color: #444343;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.menu__link--activo {
    color: #444343;
    font-weight: bold;
    text-decoration: none;
}

.menu__link#home:hover {
    color: #ffffff;
}

.menu__link:hover {
    align-items: center;
    background: rgba(252, 165, 34, 0.7);
    border-radius: 40px;
    color: white;
    cursor: pointer;
    display: inline;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
}

