.header .menu {
    align-items: center;
    color: #444343;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 50%;
}

.menu__link {
    color: #444343;
    display: flex;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.menu__link--activo {
    color: #444343;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
}

.menu__link#home:hover {
    color: #ffffff;
}

.menu__link:hover {
    background: rgba(252, 165, 34, 0.7);
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

@media (max-width:768px){

    .header .menu {
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .menu__link {
        flex-direction: column;
    }
}