body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: absolute;
    top: 10px;
    left: 84px;
}

nav li {
    display: inline;
    width: 70px;
    height: 24px;
    margin: 0 0 0 15px;
}

nav a {
    color: #444343;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

nav a:hover {
    display: inline;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    position: relative;
    width: 107px;
    height: 24px;

    color: white;
    background: rgba(252, 165, 34, 0.7);
    border-radius: 40px;
    cursor: pointer;
}

.box-principal {
    position: absolute;
    width: 593px;
    height: 201px;
    left: 166px;
    top: 198px;
}