form {
    margin:80px 370px;
    width:50%;
}

form label {
    display: block;
    font-size: 18px;
    color: #444343;
    margin: 7px 0 10px;
}

.input-padron {
    width: 80%;
    display: block;
    margin: 0 0 20px;
    padding: 7px 25px;
    border-radius: 10px;
    border: 2px solid #f5f1f1;
}

.input-padron:hover {
    border: 2px solid #FCA522;
}

.enviar {
    width: 88%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #FCA522;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background:#dd8502;
    transform: scale(1.2);
}
