.boxPrincipal .container {
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
    margin-top: 8rem;
}

.container__items {
    align-items: center;
    display: flex;
    height: 50px;
    list-style: none;
    padding: 0;
    width: 70%;
}

#saludo {
    color: #444343;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;  
}

#nombre {
    color: #FCA522;
    font-weight: bold;
    font-size: 34px;
    line-height: 45px;
}

#profesion {
    color: #4F4D47;
    font-weight: 550;
    font-size: 24px;
    line-height: 36px;
}

@media (max-width:768px){

    .boxPrincipal .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .container__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}