.ux-ui-proyecto__ejemplo {
    border: 2px solid #444343;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    margin: 2rem 3%;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.ux-ui-proyecto__ejemplo:hover {
    border: 2px solid #F29C1B;
}