.titulo-about {
    color: #F29C1B;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    height: 37px;
    left: 163px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 80%;
}